In [272]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [273]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"],axis=1)
# drop an additional column for optimization attempt
application_df = application_df.drop(columns=['SPECIAL_CONSIDERATIONS', "STATUS"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [274]:
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [275]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [276]:
# Visualize the value counts of APPLICATION_TYPE
application_type_counts.plot.density()

In [277]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_type_counts[application_type_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [278]:
# Look at CLASSIFICATION value counts for binning
class_value_counts = application_df["CLASSIFICATION"].value_counts()
class_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [279]:
# Visualize the value counts of CLASSIFICATION
class_value_counts.plot.density()

In [280]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_value_counts[class_value_counts<500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [281]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes ==
                                        "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [282]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\Owner\AppData\Roaming\Python\Python37\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [283]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(columns = application_cat)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [284]:
# delete unnecessary columns
#application_df= application_df.drop(columns= ["USE_CASE_Other","AFFILIATION_Other"])
#application_df.head()

In [285]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values.reshape(-1, 1)
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\Owner\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [286]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [287]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [288]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
nodes_hidden_layer1 = 80
nodes_hidden_layer2 = 50
nodes_hidden_layer3 = 30


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_hidden_layer1, input_dim=number_input_features,
                             activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_hidden_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_hidden_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_17"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_63 (Dense)             (None, 80)                3360
_________________________________________________________________
dense_64 (Dense)             (None, 50)                4050
_________________________________________________________________
dense_65 (Dense)             (None, 30)                1530
_________________________________________________________________
dense_66 (Dense)             (None, 1)                 31
=================================================================
Total params: 8,971
Trainable params: 8,971
Non-trainable params: 0
_________________________________________________________________

In [289]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

cp_callback = ModelCheckpoint(
  filepath=checkpoint_path,
  verbose=1,
  save_weights_only=True,
  save_freq="epoch",
   period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [290]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5701 - accuracy: 0.7222
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5542 - accuracy: 0.7306
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7318
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7324
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7322

Epoch 00005: saving model to checkpoints\weights.05.hdf5
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7331
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7345: 0s
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7351
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7346
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7353

Epoch 00010: saving model to checkpoints\weights.10.hdf5
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7360
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7371
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7370
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7378
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7383

Epoch 00015: saving model to checkpoints\weights.15.hdf5
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7382
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7376
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7383
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7372: 0s - loss: 0
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7379

Epoch 00020: saving model to checkpoints\weights.20.hdf5
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7386
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7385
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7392: 0s - l
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7376
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7394

Epoch 00025: saving model to checkpoints\weights.25.hdf5
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7390
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7390
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7384
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7383
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7402

Epoch 00030: saving model to checkpoints\weights.30.hdf5
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7389
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7387
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7398: 0s - loss: 0
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7394: 0s - loss:
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7400

Epoch 00035: saving model to checkpoints\weights.35.hdf5
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7404
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7399
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7395
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7398
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7407

Epoch 00040: saving model to checkpoints\weights.40.hdf5
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7402
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7399
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7402
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7402

Epoch 00045: saving model to checkpoints\weights.45.hdf5
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7409
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7404
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7403
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7407
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7404: 0s - l

Epoch 00050: saving model to checkpoints\weights.50.hdf5
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7410: 0s - loss: 0.5
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7404
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7408
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7411
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7403

Epoch 00055: saving model to checkpoints\weights.55.hdf5
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7403
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7400
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7400
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7402
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7404

Epoch 00060: saving model to checkpoints\weights.60.hdf5
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7404
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7409: 0s - l
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7411
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7411
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7408

Epoch 00065: saving model to checkpoints\weights.65.hdf5
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7411
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7400
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7406
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7412
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7405

Epoch 00070: saving model to checkpoints\weights.70.hdf5
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7403: 0s - los
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7411
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7413
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7413
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7412

Epoch 00075: saving model to checkpoints\weights.75.hdf5
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7417
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7412: 0s - loss: 0.5336 - accura
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7419
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7420
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7413

Epoch 00080: saving model to checkpoints\weights.80.hdf5
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7420
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7408
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7416: 0s
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7417
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7413

Epoch 00085: saving model to checkpoints\weights.85.hdf5
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7421
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7420
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7413: 0s - loss: 0.5330 - ac
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7414

Epoch 00090: saving model to checkpoints\weights.90.hdf5
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7417
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7414
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7416: 0s - l
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7411: 0s - loss: 0.5312 -
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7417

Epoch 00095: saving model to checkpoints\weights.95.hdf5
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7419
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7416
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7416
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7420: 0s - loss: 0.5325 - accura
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7413

Epoch 00100: saving model to checkpoints\weights.100.hdf5

In [291]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5734 - accuracy: 0.7250
Loss: 0.5733883380889893, Accuracy: 0.7250145673751831

In [312]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")