In [484]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [462]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"],axis=1)
# drop an additional column for optimization attempt
application_df = application_df.drop(columns=['SPECIAL_CONSIDERATIONS', "STATUS"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [463]:
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [464]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [465]:
# Visualize the value counts of APPLICATION_TYPE
application_type_counts.plot.density()

In [466]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_type_counts[application_type_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [467]:
# Look at CLASSIFICATION value counts for binning
class_value_counts = application_df["CLASSIFICATION"].value_counts()
class_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [468]:
# Visualize the value counts of CLASSIFICATION
class_value_counts.plot.density()

In [469]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_value_counts[class_value_counts<500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [470]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes ==
                                        "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [471]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\Owner\AppData\Roaming\Python\Python37\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [472]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(columns = application_cat)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [473]:
print(len(application_df.columns))

42

In [474]:
# check unnecessary columns
application_df.columns

Index(['ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_C7000', 'CLASSIFICATION_Other',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M'],
      dtype='object')

In [475]:
# delete unnecessary columns
application_df= application_df.drop(columns= ["USE_CASE_Other","AFFILIATION_Other"])
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [476]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\Owner\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [477]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [478]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [479]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
nodes_hidden_layer1 = 90
nodes_hidden_layer2 = 60



nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_hidden_layer1, input_dim=
number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_hidden_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_53"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_166 (Dense)            (None, 100)               4000
_________________________________________________________________
dense_167 (Dense)            (None, 60)                6060
_________________________________________________________________
dense_168 (Dense)            (None, 1)                 61
=================================================================
Total params: 10,121
Trainable params: 10,121
Non-trainable params: 0
_________________________________________________________________

In [480]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

cp_callback = ModelCheckpoint(
  filepath=checkpoint_path,
  verbose=1,
  save_weights_only=True,
  save_freq=4000)

In [481]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - ETA: 0s - loss: 49760.0469 - accuracy: 0.49 - 1s 1ms/step - loss: 48597.0586 - accuracy: 0.5001
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 46255.9375 - accuracy: 0.4964
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 34921.1250 - accuracy: 0.5119
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 43492.4453 - accuracy: 0.5012: 0s - loss: 76769
Epoch 5/100
742/804 [==========================>...] - ETA: 0s - loss: 23564.5391 - accuracy: 0.5135
Epoch 00005: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 21952.0625 - accuracy: 0.5101
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 18993.5020 - accuracy: 0.5236
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 12294.4004 - accuracy: 0.5146
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 8592.7393 - accuracy: 0.5099
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 1445.7889 - accuracy: 0.5094
Epoch 10/100
746/804 [==========================>...] - ETA: 0s - loss: 6473.6895 - accuracy: 0.5261
Epoch 00010: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 6783.6646 - accuracy: 0.5215
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 7756.1787 - accuracy: 0.5052ETA: 0s - loss: 4419.940
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 3654.5825 - accuracy: 0.5114
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 1659.2699 - accuracy: 0.5148
Epoch 14/100
804/804 [==============================] - ETA: 0s - loss: 1027.2924 - accuracy: 0.5206ETA: 0s - loss: 226 - 1s 1ms/step - loss: 1003.8925 - accuracy: 0.5213
Epoch 15/100
737/804 [==========================>...] - ETA: 0s - loss: 381.0245 - accuracy: 0.5120
Epoch 00015: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 351.2700 - accuracy: 0.5124
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 24.3613 - accuracy: 0.5318
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 20/100
681/804 [========================>.....] - ETA: 0s - loss: 0.6913 - accuracy: 0.5307 ETA: 0s - loss: 0.6915 -
Epoch 00020: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321: 1s - loss: 0.6893 - accu - ETA: 0s - loss: 0.6907 - accuracy:  - ETA: 0s - loss: 0.690
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321: 0s - loss: 0.6914 - ac
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 25/100
668/804 [=======================>......] - ETA: 0s - loss: 0.6912 - accuracy: 0.5326
Epoch 00025: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 30/100
670/804 [========================>.....] - ETA: 0s - loss: 0.6915 - accuracy: 0.5304
Epoch 00030: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321: 0s - loss: 0.6
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 35/100
622/804 [======================>.......] - ETA: 0s - loss: 0.6912 - accuracy: 0.5325 ETA: 0s - loss: 0.6914 - accuracy: 0.53
Epoch 00035: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321: 0s - loss: 0.6911 - accu
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321: 0s - loss: 0.6911 - accura
Epoch 40/100
626/804 [======================>.......] - ETA: 0s - loss: 0.6912 - accuracy: 0.5323
Epoch 00040: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321: 0s - los
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 45/100
614/804 [=====================>........] - ETA: 0s - loss: 0.6910 - accuracy: 0.5337
Epoch 00045: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5321: 0s - loss: 0.6907 - accuracy
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss: 0.6915 -
Epoch 50/100
580/804 [====================>.........] - ETA: 0s - loss: 0.6911 - accuracy: 0.5332
Epoch 00050: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss: 0.6912 - accuracy: 0.
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6914 - accuracy: 0.5321
Epoch 55/100
548/804 [===================>..........] - ETA: 0s - loss: 0.6914 - accuracy: 0.5312
Epoch 00055: saving model to checkpoints\weights.55.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5321
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6914 - accuracy: 0.5321
Epoch 60/100

535/804 [==================>...........] - ETA: 0s - loss: 0.6912 - accuracy: 0.5339
Epoch 00060: saving model to checkpoints\weights.60.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6914 - accuracy: 0.5321
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321: 0s - loss: 0.6904 -  - ETA: 0s - loss: 0.6914 - accu - ETA: 0s - loss: 0.6913 - accuracy: 0.53
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6914 - accuracy: 0.5321
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 65/100
517/804 [==================>...........] - ETA: 0s - loss: 0.6918 - accuracy: 0.5280
Epoch 00065: saving model to checkpoints\weights.65.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss: 0.6919  - ETA: 0s - loss: 0.6916 - accuracy
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - los
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss: 0.6913 - accuracy: 0.53
Epoch 70/100
494/804 [=================>............] - ETA: 0s - loss: 0.6913 - accuracy: 0.5323
Epoch 00070: saving model to checkpoints\weights.70.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss: 0.6914 - accura
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss:
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6914 - accuracy: 0.5321
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 75/100
486/804 [=================>............] - ETA: 0s - loss: 0.6914 - accuracy: 0.5309
Epoch 00075: saving model to checkpoints\weights.75.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - los
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss: 0.6914 -
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321: 0s - loss: 0
Epoch 80/100
451/804 [===============>..............] - ETA: 0s - loss: 0.6909 - accuracy: 0.5356
Epoch 00080: saving model to checkpoints\weights.80.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss: 0.6909 - accura
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss: 0.6916 -
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss: 0.6915 -
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321: 0s - loss: 0.6927 - accuracy:  - ETA: 0s - loss: 0
Epoch 85/100
446/804 [===============>..............] - ETA: 0s - loss: 0.6912 - accuracy: 0.5324
Epoch 00085: saving model to checkpoints\weights.85.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5321: 0s -
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 90/100
406/804 [==============>...............] - ETA: 0s - loss: 0.6915 - accuracy: 0.5301
Epoch 00090: saving model to checkpoints\weights.90.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s -
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321: 0s - loss: 0.6911 - accuracy: 0.53
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s -
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss: 0.6914 - accuracy - ETA: 0s - loss: 0.6914 - accuracy:
Epoch 95/100
401/804 [=============>................] - ETA: 0s - loss: 0.6920 - accuracy: 0.5270
Epoch 00095: saving model to checkpoints\weights.95.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321: 0s - loss: 0.6915 - accuracy
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 100/100
363/804 [============>.................] - ETA: 0s - loss: 0.6912 - accuracy: 0.5325
Epoch 00100: saving model to checkpoints\weights.100.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5321

In [485]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.8756 - accuracy: 0.5249
Loss: 0.875607967376709, Accuracy: 0.5248979330062866